  .btnAgregar{
  border-radius: 5px;
  color: #fff;
  border-color: #ff4d00;
  background-color: #ff4d00;
  font-size: 18px  
  }


  .btn.btn-just-icon.btn-sm {
  height: 30px;
  min-width: 30px;
  width: 30px;
  }

  .btn.btn-just-icon {
  font-size: 24px;
  height: 41px;
  min-width: 41px;
  width: 41px;
  padding: 0 !important;
  overflow: hidden;
  position: relative;
  line-height: 41px;
  }



  .btn.btn-just-icon .material-icons {
  margin-top: 0;
  position: absolute;
  width: 100%;
  transform: none;
  left: 0;
  top: 0;
  height: 100%;
  line-height: 41px;
  font-size: 20px;
  }

  .btn.btn-just-icon.btn-sm .material-icons {
  font-size: 17px; 
  line-height: 29px; 
  }

  .tabla{
  height: 500px;
  overflow-y: scroll;
  }


  table td:first-child {
  width: 10px;
  }

  table td:nth-child(2) {
  width: 150px;
  }

  table td:nth-child(3) {
  width: 400px;
  }

  table td:nth-child(4) {
  width: 150px;
  }

  table td:nth-child(6) {
  width: 70px;
  }

  table td:last-child {
  width: 100px;
  }

  #tablaAgregar tbody tr img{
    width: 130px;
    height: 220px;
  }

  .swal-overlay {
    background-color: rgba(0, 0, 0, 0.80);
  }